<div class="col-10 offset-1 about">

  <h1>About Splurty</h1>

   <p>
    Splurty was built by <a target="_blank" href="http://github.com/DaveCasts">Dave</a>. One web developer who just wants to create any website or application he can.
  </p>
  <br />
  <p>
    Just a dude trying his best to be the best web dev he can be. 
  </p>
  <p>
    If you want to learn how to code - start <a target="_blank" href="https://online.bootcampspot.com"> here</a>.
  </p>

  <hr class="line" />

  <div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag '5k.jpg', class: 'img-fluid' %>
    </div>

    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Dave Campos</h2>
      <br />
      <p>
        Dave Campos is a new web developer, looking to gain experience and better his code.
      </p>
    </div>
  </div>
  <hr class="line" />
  <br class="clear" />
  <br />
  <br />
  <br />
  <br />

  
</div>