<div class="col-10 offset-1">

  <h1>About Splurty</h1>

   <p>
    Splurty was built by <a target="_blank" href="http://github.com/DaveCasts">Dave</a>. One web developer who just wants to create any website or application he can.
  </p>
  <br />
  <p>
    Just a dude trying his best to be the best web dev he can be. 
  </p>
  <p>
    If you want to learn how to code - start <a target="_blank" href="https://online.bootcampspot.com"> here</a>.
  </p>
  
</div>